<div class="position-relative text-center">

  <!-- Logo principal centrado arriba -->
  <div class="text-center pt-3">
    <img class="logo" src="assets/img/logo.png" alt="Remind Logo">
  </div>

  <!-- Logo de login arriba a la derecha -->
  <div class="position-absolute top-0 end-0 mt-5 pt-5">
    <img class="logo-log" src="assets/img/logo_login.png" alt="Log_in-icon">
  </div>

  <!-- Eslogan -->
  <div class="container mt-5 pt-5">
    <p class="slogan-linea1">Una rutina para la mente, un<br>apoyo para</p>
    <p class="slogan-linea2">TU VIDA"</p>
  </div>

</div>
