<header-component></header-component>
<div class="container my-5">
  <h2 class="text-center mb-5">Listado de Agendas de Pacientes</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let agenda of agendas">
      <div class="card agenda-card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span class="fw-bold">Paciente</span>
        </div>
        <div class="card-body text-center">
          <img src="assets/img/agenda_logo.png" alt="Agenda Icon" class="agenda-icon mb-3">
          <h5 class="card-title">{{ agenda.nombre }}</h5>
          <button class="btn btn-primary mt-3" (click)="viewAgenda(agenda.id)">Editar Agenda</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!agendas || agendas.length === 0" class="text-center mt-5">
    <p>No hay agendas de pacientes para mostrar.</p>
  </div>
</div>