.bg-color {
    background-color: var(--background-color);
}

.content {
    margin-top: 15%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
