.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 12%;
  height: 12%;
  object-fit: contain;
}

.logo_user {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.left-icon, .right-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente los iconos */
  cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
  transition: transform 0.2s ease-in-out; /* Añade una transición suave */
}

.left-icon {
  left: 12%; /* Ajusta la distancia desde la izquierda */
  font-size: 360%; /* Aumenta significativamente el tamaño del icono */
  color: #555; /* Define un color base para el icono */
}

.left-icon:hover {
  transform: translateY(-50%) scale(1.1); /* Agranda ligeramente el icono al pasar el ratón */
  color: #007bff; /* Cambia de color al pasar el ratón */
}


.right-icon {
  right: 10px;
  transform: translateY(-50%) translateX(20%);
}