<!-- <div class="container">
  <h2>Editar Terapeuta</h2>
  <form (ngSubmit)="updateTerapeuta()" #terapeutaForm="ngForm">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="terapeuta.nombre" required>
    </div>
    <div class="form-group">
      <label for="correo">Correo Electrónico:</label>
      <input type="email" id="correo" name="correo" [(ngModel)]="terapeuta.correo" required>
    </div>
    <div class="form-group">
      <label for="contrasena">Nueva Contraseña (opcional):</label>
      <input type="password" id="contrasena" name="contrasena" [(ngModel)]="terapeuta.contrasena">
    </div>
    <div class="form-group">
      <label for="especialidad">Especialidad:</label>
      <input type="text" id="especialidad" name="especialidad" [(ngModel)]="terapeuta.especialidad" required>
    </div>
    <button type="submit" [disabled]="!terapeutaForm.form.valid">Actualizar Terapeuta</button>
  </form>
</div> -->