<div class="container bg-color d-flex content">

    <div class="icons gap-5">

        <div *ngIf="userRole === 'terapeuta'">
            <agenda-card (click) = "toAgenda()"></agenda-card>
        </div>
        <div *ngIf="userRole === 'terapeuta'">
            <app-pacientes-card (click)="toPacients()"></app-pacientes-card >
        </div>
        <div *ngIf="userRole === 'paciente'">
            <tareas-card (click)="toPacienteAgenda()"></tareas-card>
        </div>
        

    </div>

</div>