<div class="card shadow-lg p-4 mb-4 bg-primary text-white text-center">
  <h1 class="card-title display-4">{{ title }}</h1>
  <p class="instrucciones">Lee las diferentes palabras que aparecen e intenta deducir cuál de ellas no guarda relación
    con las demás.</p>
  <button class="btn instructions-button" (click)="reproducirInstrucciones()">
    <i class="pi pi-volume-up"></i> Escuchar Instrucciones
  </button>
</div>

<div class="intruder-game-container">
  <div *ngIf="!gameOver && currentSet" class="game-area">
    <div class="options-container">
      <div *ngFor="let option of shuffledOptions" class="option-card" (click)="selectOption(option)" [ngClass]="{
             'selected': option === selectedOption,
             'correct': option === selectedOption && isCorrect,
             'incorrect': option === selectedOption && !isCorrect,
             'disabled': selectedOption !== null
           }">
        {{ option.word }}
      </div>
    </div>

    <div *ngIf="selectedOption" class="feedback-container">
      <p [ngClass]="{'text-correct': isCorrect, 'text-incorrect': !isCorrect}">
        {{ feedbackMessage }}
      </p>
      <button (click)="loadNextRound()">Siguiente Ronda</button>
    </div>
  </div>

  <div *ngIf="gameOver" class="game-over-container">
    <h3>Juego Terminado</h3>
    <p>{{ feedbackMessage }}</p>
    <button (click)="startGame()">Jugar de Nuevo</button>
  </div>
</div>