<div>

    <header-component></header-component>
    <direct-access></direct-access>
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menú</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Aquí puedes poner links o componentes -->
            <ul class="list-group">
                <li class="list-group-item"><a routerLink="/home">Inicio</a></li>
                <li class="list-group-item"><a routerLink="/agendas">Agendas</a></li>
                <li class="list-group-item"><a routerLink="/terapeutas">Terapeutas</a></li>
            </ul>
        </div>
    </div>


</div>