<div class="position-relative text-center">

  <div class="text-center pt-3 animate-on-load fade-in-up">
    <img class="logo" src="assets/img/logo.png" alt="Remind Logo">
  </div>

  <div class="position-absolute top-0 end-0 mt-5 pt-5 animate-on-load fade-in delay-3">
    <img class="logo-log" src="assets/img/logo_login.png" (click)="toLogin()" alt="Log_in-icon">
  </div>

  <div class="container mt-5 pt-5">
    <p class="slogan-linea1 animate-on-load fade-in-up delay-1">Una rutina para la mente, un<br>apoyo para</p>
    <p class="slogan-linea2 animate-on-load fade-in-up delay-2">TU VIDA"</p>
  </div>

</div>